body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
}
h2{
  text-align: center;
}
section{
  height: 85vh;
  margin: 20vh 1rem;
  background: rgba(29, 28, 28, 0.5)
}